* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: #d8e1e0;
}

body {
    background-image: url(../images/mcgregor-tartan.jpeg);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

footer {
  position: fixed;
  left: 50%;
  bottom:0;
  width:100%;
  height: 3.75rem;  
}

#question-image {
  position: relative;
  left: 17%;
  height: 10em;
  align-content: center;
}

.page-heading {
    height: 6.25rem;
    width: 25rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
}

#question {
  text-align: center;
    font-size: larger;
    font-weight: bold;
}


.container {
    width: 30rem;
    height: 35rem;
    max-width: 80%;
    background-color: #01402E;
    object-fit: fill;
    border-radius: 0.5rem;
    padding: 1.2rem;
    box-shadow: 0 0 1rem 4px;
  }

.btn {
  font-size:large;
  font-weight: bold;
  background-color: #02734A;
  border: 1px solid #733729;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 0.1rem;
  cursor: pointer;
  justify-content: center;
}

.btn-home {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #02734A;
  border: 1px solid #733729;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 0.1rem;
  cursor: pointer;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 10rem 5rem 10rem 6rem;
  justify-content: center;
}

.btn-grid-landmark {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 0;
  justify-content: center;
}

.btn-grid-home {
  display: grid;
  grid-template-columns: fit-content(max-content) 2fr;
  gap: 1rem;
  margin: 1.5rem 0;
  justify-content: center;
}

.btn:hover {
    border: 4px solid #2B7B8C;
    border-radius: 0.5rem;
}

.next-btn {
  font-size: 1.5rem;
  width: 7.6rem;
  height: 5rem;
  font-weight: bold;
  padding: 0.6rem 1.25rem;
  margin: 1vw;
  }

  .start-btn {
    font-weight: bold;
    padding: 0.6rem 1.25rem;
    margin-left: 20%;
  }

.btn.correct {
  background-color: #1a6d62;
}

.btn.wrong {
  background-color: #D9042B;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  width: 7.6rem;
  height: 5rem;
  font-weight: bold;
  padding: 0.6rem 1.25rem;
  margin: 1vw;
}

 .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hide {
  display: none;
}

/* For responsiveness on different devices */

@media only screen and (max-width: 795px) {
  .container {
    height: 65%;
    width: 55%;
  }
  .btn-grid {
  grid-template-columns: 1fr;
  margin: 5%;
  }

  .btn {
    font-size: medium;
    font-weight: bold;
    background-color: #02734A;
    border: 1px solid #733729;
    border-radius: 0.4rem;
    width: max-content;
  }
  
  .page-heading {
      width: auto;    
      left: 20%;
     font-size: xx-large;
  }
  
  .controls {
  margin-top: -35%;
      margin-left: -80%;
  }

  .start-btn, .next-btn {
    margin: 30% 60% 50% 90%;
}

#question-image {
  position: relative;
  max-width: 80%;
  height: 11em;
}
  
  Footer {
  Height: auto;
  }
}  

@media only screen and (max-width: 600px) {
  .page-heading {
      width: auto;    
      left: 20%;
     font-size: xx-large;
  }

.container {
      height: 68%;
    width: 45%;  }

.start-btn, .next-btn {
        margin: 30% 60% 50% 90%;
}

.btn {
  font-size: 0.55em;
}

#question-image {
  height: 5em;
}
}

@media only screen and (max-width: 450px) {

  .page-heading {
    width: auto;
    left: 5%;
    font-size: 1.5em;
    text-align: center;
  }

  .container {
   position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:fit-content;
    border-radius: 5px;
  }

#question {
  font-size: 1.3rem;
}

#question-image {
  height: 5em;
}

.start-btn, .next-btn {
  margin: 30% 60% 50% 90%;
}

.btn-grid-landmark, .btn-grid {
  display: block;
  gap: 1rem;
  margin: 1.5rem 0;
  justify-content: center;
}
}