*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: #d8e1e0;
}

body {
    background-color: #01402E;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.page-heading {
    height: 6.25rem;
    width: 25rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 3em;
}

#question {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

  .container {
    width: 30rem;
    height: 35rem;
    max-width: 80%;
    background-image: url(../images/mcgregor\ tartan.jpeg);
    object-fit: fill;
    border-radius: 0.5rem;
    padding: 1.2rem;
    box-shadow: 0 0 1rem 4px;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: fit-content(max-con) 2fr;
    gap: 1rem;
    margin: 1.5rem 0;
    justify-content: center;
  }
.btn {
  background-color: #02734A;
  border: 1px solid #733729;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
    border: 4px solid #2B7B8C;
    border-radius: 0.5rem;
}

.btn.correct {
   background-color: #F20505;
  }
  
  .btn.wrong {
   background-color: #025939;
  }

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 20%;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }